# Commentary lines start with '#'
# This file contains the path for input and output files for all scripts
# Use 'export myConfigFile.config' to load the variables

#############################################
## Editable Area (cohort specific)
#############################################
# Cohort name
cohort=example

# Fastq Liat (IID, fq1, fq2)
FastqList=./cohort_info.txt

# Output Path
outputFolderPath=/path/to/output

# Number of Threads
nt=40

# VQSR threshold
vqsr_threshold=99.0

#############################################
## Path to tools
#############################################
# Fastqc
fastqc=/path/to/fastqc

# Multiple
multiqc=/path/to/multiqc

# Sentieon path
SENTIEON_LICENSE=
SENTIEON_INSTALL_DIR=/path/to/sentieon

# GATK path
GATK_INSTALL_DIR=/path/to/gatk

# Plink2
PLINK2=/path/to/plink2

# Rscript
Rscript_path=./Rscript_path

# king
king=/path/to/king

# vep
vep_path=/path/to/vep

# plink, bcftools, vcftools. They have been set as enviroment variable because very commonly used


#############################################
## Path to reference files
#############################################
# Required in Sentieon Pipeline
ref_genome=/path/to/human_g1k_v37.fasta
dbsnp=/path/to/dbsnp_151.vcf.gz
known_1000G_indels=/path/to/1000G_phase1.indels.b37.vcf.gz
known_Mills_indels=/path/to/Mills_and_1000G_gold_standard.indels.b37.vcf.gz

# Required in VQSR
variant_dnsnp=/path/to/dbsnp_138.b37.vcf.gz
snv_hapmap=/path/to/hapmap_3.3.b37.vcf.gz
snv_omni=/path/to/1000G_omni2.5.b37.vcf.gz
snv_1kg_highconf=/path/to/1000G_phase1.snps.high_confidence.b37.vcf.gz
indel_1kg=/path/to/1000G_phase1.indels.b37.vcf.gz
indel_mill=/path/to/Mills_and_1000G_gold_standard.indels.b37.vcf.gz

# Do not change the last line
#### End of file ####